$mobile: 480px;
$tablet: 768px;
$desktop: 1440px;

$primary-text-color: #ffffff;
$title-text-color: #e7e7e7;
$secondary-text-color: #757575;
$primary-color: #df3d3a;
$background-color: #191919;

// _____________________________________

body {
    font-family: "Gilroy";
    color: rgba($primary-text-color, 0.8);

    background-color: $background-color;
}

body.scroll-lock {
    overflow: hidden;
}
// __________________________________________

body {
    font-family: "Gilroy";
    color: rgba($primary-text-color, 0.8);

    background-color: $background-color;
}

body.scroll-lock {
    overflow: hidden;
}

// _______________________________________________

h1,
h2,
h3,
p,
ul,
figure,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;

    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;

    max-width: 100%;
    height: auto;
}

input {
    outline: none;
}

button {
    cursor: pointer;

    padding: 0;

    color: inherit;
    border: none;
}

svg {
    display: block;
    fill: currentColor;
}

// __________________________________________________
$lh-mob-ability: 1.25;
$lh-tab-mob-ability: 1.45;
$fs-mob: 14px;
$fs-tab: 16px;
$fs-desk: 20px;

.section {
    padding-bottom: 52px;

    @media screen and (min-width: $tablet) {
        padding-bottom: 100px;
    }

    @media screen and (min-width: $desktop) {
        padding-bottom: 170px;
    }
}

.section__title {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $title-text-color;

    @media screen and (min-width: $tablet) {
        font-size: 30px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;

        font-size: 54px;
    }
}

.section__subtitle {
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;

    color: $title-text-color;

    @media screen and (min-width: $desktop) {
        margin-bottom: 20px;

        font-size: 28px;
    }
}

.section__text {
    font-size: 14px;
    line-height: 1.25;
    color: rgba($primary-text-color, 0.8);

    @media screen and (min-width: $tablet) {
        font-size: 16px;
        line-height: 1.45;
    }

    @media screen and (min-width: $desktop) {
        font-size: 20px;
    }
}
// _____________________________________________________

.container {
    --padding: 20px;

    max-width: $mobile;
    padding-left: var(--padding);
    padding-right: var(--padding);

    @media screen and (min-width: $mobile) {
        margin: 0 auto;
    }

    @media screen and (min-width: $tablet) {
        --padding: 60px;
        max-width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        --padding: 190px;
        max-width: $desktop;
    }
}
// ____________________________________________________

.reviews {
    --reviews-accent-color: #df3d3a;
}

.reviews__container {
    @media screen and (min-width: 1440px) {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 150px;

        max-height: 590px;

        padding-left: 0;
        padding-right: 112px;
    }
}

.reviews__video-container {
    position: relative;

    height: 180px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @media screen and (max-width: (768px - 0.02px)) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) and (max-width: (1440px - 0.02px)) {
        max-width: 648px;
        height: 417px;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 0;

        min-width: 920px;
        height: 590px;
        // order: -1;
    }
}

.reviews__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.reviews__title {
    @media screen and (min-width: 1440px) {
        max-width: 258px;
        position: absolute;
        left: 1070px;
    }
}

.reviews__subtitle {
    color: var(--reviews-accent-color);

    @media screen and (min-width: 1440px) {
        padding-top: 115px;
        max-width: 258px;
    }
}

.reviews__text {
    padding-right: 22px;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        padding-right: 118px;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 66px;
        padding-right: 0px;
        max-width: 258px;
    }
}

.reviews__slider-holder {
    display: flex;
}

.reviews__toggle-label {
    display: flex;
}

.reviews__slider-number {
    font-family: "Roboto Condensed";
    font-size: 20px;
    line-height: 1.25;
    color: var(--reviews-accent-color);
    opacity: 0.2;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1440px) {
        font-size: 28px;
    }
}

.reviews__slider-number--prefixed {
    &::before {
        content: "–";
        margin-left: 20px;
        margin-right: 14px;

        @media screen and (min-width: 1440px) {
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}

.rievews__slider-toggle:checked + .reviews__slider-number {
    color: var(--reviews-accent-color);
    opacity: 1;
}

.rievews__slider-toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// Денис
.design__container {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
    }

    @media screen and (min-width: $desktop) {
        gap: 150px;
    }
}

.design__image {
    @media screen and (max-width: ($tablet - 0.02px)) {
        margin: 0 auto;
    }

    @media screen and (min-width: $tablet) {
        min-width: 354px;
        max-width: 354px;
        margin-left: calc(var(--padding) * -1);
    }
    @media screen and (min-width: $desktop) {
        min-width: 590px;
        max-width: 590px;
        margin-left: calc(var(--padding) * -1);
    }
}

.design__description-wrapper {
    @media screen and (max-width: ($tablet - 0.02px)) {
        margin-bottom: 32px;
    }
}

.design__text {
    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 40px;
    }
}

.ability__list {
    display: flex;
    flex-direction: column;
    max-height: 127px;
    gap: 16px;

    @media screen and (min-width: $desktop) {
        flex-wrap: wrap;
        column-gap: 220px;
        row-gap: 20px;
    }
}

.ability__text {
    padding-left: 37px;
    background-image: url("../images/circle.svg");
    background-repeat: no-repeat;
    background-position: 0 calc((($fs-mob * $lh-mob-ability) - 13px) / 2);

    @media screen and (min-width: $tablet) {
        background-position: 0 2.25px;
    }

    @media screen and (min-width: $desktop) {
        background-position: 0 8px;
    }
}
